<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HARK000.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <HARK000.My.MySettings>
            <setting name="WebSource" serializeAs="String">
                <value>https://delta2.iticloud.net/delta/HARK000/HARK000UpdateFeed.xml</value>
            </setting>
            <setting name="WebProxy" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="DBユーザ" serializeAs="String">
                <value>BOV2</value>
            </setting>
            <setting name="DBパスワード" serializeAs="String">
                <value>BOV2</value>
            </setting>
            <setting name="DB接続文字列" serializeAs="String">
                <value>ITI</value>
            </setting>
            <setting name="TopUrl" serializeAs="String">
                <value>https://delta2.iticloud.net/delta/top/index.html</value>
            </setting>
            <setting name="入力担当コード" serializeAs="String">
                <value>611381</value>
            </setting>
            <setting name="事業所コード" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="ManualUrl" serializeAs="String">
                <value>https://delta2.iticloud.net/delta/manual/index.html</value>
            </setting>
        </HARK000.My.MySettings>
    </userSettings>
</configuration>
